[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.26.4"  # since obsidiantools use np.NaN which is removed in numpy 2.0.0
python-dotenv = "*"
dash = "*"
pandas = "*"
ipykernel = "*"
obsidiantools = "*"

[dev-packages]

[requires]
python_version = "3.11"
