[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.26.4"  # since obsidiantools uses np.NaN which is removed in numpy 2.0.0
python-dotenv = "*"
pandas = "*"
ipykernel = "*"
obsidiantools = "*"
markdown-it-py = {extras = ["plugins", "linkify"], version = "*"}
beautifulsoup4 = "*"
treelib = "*"
dash = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.11"
